<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
    <a href="/viewfolio/{{ foliox._id }}/1"> BACK to folio </a> <a href="/listofdocuments"> | Back ALL Folios</a> 
<h2>Comments for Folio: <a href="/viewfolio/{{ foliox._id}}/1">{{ foliox.foliotitle}}</a> </h2>

  </div>

  <div class="col-sm-2"></div>
  
</div>
 

{{#if filteredComments}}
<div class="row">
  <div class="col-sm-2"></div>
  <div class="col-sm-8 ">

  <table class="table table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Page#</th>
      <th scope="col">Comment</th> 
      <th scope="col">Edit Comment</th>   
      <th scope="col">Delete Comment</th>   

    </tr>
  </thead>
  <tbody>
{{/if}}
    {{#each filteredComments}}
    <tr>
      <td>{{pagenumber}}</td>
      <td>{{ commentcontent }}</td>
      <td><a class="btn btn-warning" href="/editcomment/{{ this._id}}">  EDIT</a></td>
      <td> 

      <form action="/deletecomment/{{this._id}}/{{this.commenteddocument._id }}" method="POST">
        <button class="btn btn-danger" >Delete</button>
      </form>
      </td>
    </tr>
      {{else}}
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <h3>Comments not Found!</h3>
          <a href="/viewfolio/{{ folioid }}/1"> BACK to folio</a>
        </div>
      </div>

      {{!-- <h3>Comments not Found!</h3>
      <a href="/viewfolio/{{ folioid }}/1"> BACK to folio</a> --}}
    {{/each}}
    
  </tbody>
</table>
</div>
  <div class="col-sm-2"></div>

</div>

{{!-- old --}}
{{!-- {{#each filteredComments}}
<div>page#: {{pagenumber}}</div>
<div>comment:</div>
<div>{{ commentcontent }}</div>
  
  <a href="/editcomment/{{ this._id}}">  EDIT</a>
  <form action="/deletecomment/{{this._id}}/{{this.commenteddocument._id }}" method="POST">
    <button>Delete This Comment</button>
  </form>
  
<hr>

{{/each}}

{{#if noComments}}
  <h3>Comments not Found!</h3>
  <a href="/viewfolio/{{ folioid }}/1"> BACK to folio</a>
{{/if}} --}}


