<div class="row my-3">
  <div class="col-sm-2 col-12"></div>
  <div class="col-sm-2 col-12 my-2">
    <a href="#" class="btn" disabled>{{ foliox.foliotitle}}</a>
    
</div>
 <div class="col-sm-2 col-4 my-2">
   <a href="/listofdocuments" class="btn btn-warning">back to list</a>
 </div>

      <div class="col-sm-2 col-4 my-2">
  <a class="btn btn-primary" href="/emailform/{{ foliox._id}}">Email this Folio</a>

      </div>
      <div class="col-sm-2 col-4 my-2">
  <a class="btn btn-info" href="/allcommentsforfolio/{{ foliox._id}}">See all comments</a>

      </div>
      <div class="col-sm-2 col-12"></div>
</div>

<div class="row">
  <button class="btn btn-info" id="prev">Previous</button>
  <button class="btn btn-warning" id="next">Next</button>
  <h3>Page: <span class="badge badge-secondary" id="page_num"></span></h3>
  <h3>of <span class="badge badge-secondary" id="page_count"></span></h3>
  {{!-- <span>Page: <span id="page_num"></span> / <span id="page_count"></span></span> --}}
</div>


<div>
  {{!-- <button id="prev">Previous</button> --}}
  {{!-- <button id="next">Next</button> --}}
  &nbsp; &nbsp;
  {{!-- <span>Page: <span id="page_num"></span>  --}}
  {{!-- / <span id="page_count"></span></span> --}}
  &nbsp;&nbsp; 
  <form action="/commentthispage" method="POST">
    <input style="display:none;" id="viewedpage" type="text"  name="pagenumber"> 
    <div  style="display:none;" id="pagetoview" type="text"  name="pagetoview"> {{pagetoview}}</div>
    <input style="display:none;" type="text" name="folioid" value="{{foliox._id}}">

  {{#if isNotEditor}}
    <input type="text" value="comment goes here" name="commentcontent">
    <button>Comment this page</button>
  {{/if}}
  {{#unless isNotEditor}}
    <div> I am editor will edit page </div>
    <a href="/editfolio/{{ foliox._id}}">Edit this Folio</a>

  {{/unless}}
  </form>
</div>

<canvas id="the-canvas"></canvas>

<div id="foliourl" style="display: none;">{{foliox.foliopath}}</div>