<div class="row my-3">
  <div class="col-sm-2 col-12"></div>
  <div class="col-sm-2 col-12 my-2">
    <a href="#" class="btn" style="font-size: 1.2rem" disabled>Title: {{ foliox.foliotitle}}</a>
    
</div>
 <div class="col-sm-2 col-4 my-2">
   <a href="/listofdocuments" class="btn btn-warning">back to list</a>
 </div>

      <div class="col-sm-2 col-4 my-2">
  <a class="btn btn-primary" href="/emailform/{{ foliox._id}}">Email Folio</a>

      </div>
      <div class="col-sm-2 col-4 my-2">
  <a class="btn btn-info" href="/allcommentsforfolio/{{ foliox._id}}">All comments</a>

      </div>
      <div class="col-sm-2 col-12"></div>
</div>

<div class="row mb-3">
  <div class="col-sm-2 col-12"></div>
  <div class="col-sm-8 col-12">

    <form class="form-inline" method="POST" action="/commentthispage">
      <input style="display:none;" id="viewedpage" type="text"  name="pagenumber"> 
        <div  style="display:none;" id="pagetoview" type="text"  name="pagetoview"> {{pagetoview}}</div>
      <input style="display:none;" type="text" name="folioid" value="{{foliox._id}}">

      {{#if isNotEditor}}
      <div class="">

      <input class="form-control mr-sm-2" type="text" value="comment goes here" name="commentcontent">
      <button class="btn btn-outline-success ml-sm-3" type="submit">Comment this page</button>
      </div>
      {{/if}}
      {{#unless isNotEditor}}
       
        <a class="" href="/editfolio/{{ foliox._id}}" style="text-align: center">Edit this Folio</a>

      {{/unless}}

      
    </form>
  </div>
  <div class="col-sm-2 col-12"></div>
</div>


<div class="row">
  <div class="col-sm-2 col-12"></div>

  <div class="col-sm-8 col-12">
    <div class="row">
    
    <h3 class="col-6" style="text-align: right">Page: <span class="badge badge-secondary" id="page_num"></span></h3>
    <h3 class="col-6">of <span class="badge badge-secondary" id="page_count"></span></h3>
    </div>
    <div class="row">
      <div class="col-3 mt-2"></div>
    <button class="btn btn-info col-3" id="prev">Previous</button>
    <button class="btn btn-warning col-3" id="next">Next</button>
      <div class="col-3"></div>

    </div>
  </div>
  <div class="col-sm-2 col-12"></div>

</div>

<div class="row mt-2">
  <div class="col-sm-3 col-12"></div>

  <div class="col-sm-6 col-12">
    <canvas id="the-canvas"></canvas>

  </div>
  <div class="col-sm-3 col-12"></div>

</div>

<div id="foliourl" style="display: none;">{{foliox.foliopath}}</div>