<h1>List of Documents </h1>
<h4> ALL ROLES </h4>
{{#if user}}
  <div>
    <p>your username is: {{ user.username }}</p>
    <p>your role is: {{ user.role }}</p>

    
  </div>
{{/if}}

<div>
  {{#each allFolios}}
    <div> <a href="/viewfolio/{{ this._id }}/1"> Title: {{this.foliotitle}}</a> </div>
    <div>Description: {{this.foliodescription }}</div>
    
    <hr>
  {{/each}}
</div>

