<div class="row">
  <div class="col-sm-12 d-flex justify-content-center">
    <h2>List of Users </h2>
  </div>
</div>

<div class="row">
  <div class="col-sm-2"></div>

  <div class="col-sm-8">

  
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Username</th>
      <th scope="col">Role</th>
      <th scope="col">Select Role</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
    {{#each allUsers}}
      {{#if this.roleGuest}}
        <tr>
          <th>{{this.username}}</th>
          <td>{{this.role}}</td>
          <td>
            <form  class="form-check form-check-inline" method="POST" action="/updaterole/{{this._id}}" >
              <input class="form-check-input ml-2" type="radio" name="role" value="GUEST" checked>Guest <br>
              <input class="form-check-input ml-2" type="radio" name="role" value="EDITOR">Editor<br>
              <input class="form-check-input ml-2" type="radio" name="role" value="ADMIN"> Admin
              <input class="btn btn-warning ml-3"type="submit" class="btn btn-primary" value="Update role">
            </form>

          </td>
          <td>
            <form action="/deleteuser/{{this._id}}" method="POST">
               <button class="btn btn-danger" >Delete User</button>
            </form>
          </td>
        </tr>
      {{/if}}
      {{#if this.roleEditor}}
        <tr>
          <th>{{this.username}}</th>
          <td>{{this.role}}</td>
          <td>
            <form  class="form-check form-check-inline" method="POST" action="/updaterole/{{this._id}}" >
              <input class="form-check-input ml-2" type="radio" name="role" value="GUEST" >Guest <br>
              <input class="form-check-input ml-2" type="radio" name="role" value="EDITOR" checked >Editor<br>
              <input class="form-check-input ml-2" type="radio" name="role" value="ADMIN"> Admin
              <input class="btn btn-warning ml-3"type="submit" class="btn btn-primary" value="Update role">
            </form>
          </td>
          <td>
             <form action="/deleteuser/{{this._id}}" method="POST">
               <button class="btn btn-danger" >Delete User</button>
            </form>
          </td>
        </tr>
      {{/if}}
      {{#if this.roleAdmin}}
        <tr>
          <th>{{this.username}}</th>
          <td>{{this.role}}</td>
          <td>
            <form  class="form-check form-check-inline" method="POST" action="/updaterole/{{this._id}}" >
              <input class="form-check-input ml-2" type="radio" name="role" value="ADMIN" checked> Admin
              <input class="form-check-input ml-2" type="radio" name="role" value="GUEST" >Guest <br>
              <input class="form-check-input ml-2" type="radio" name="role" value="EDITOR"  >Editor<br>
               {{#unless this.roleSuper}}
              <input class="btn btn-warning ml-3" type="submit" class="btn btn-primary" value="Update role">
              {{/unless}}
              {{#if this.roleSuper}}
              <input disabled class="btn btn-warning ml-3"type="submit" class="btn btn-primary" value="Update role">
              {{/if}}
            </form>

          </td>
          <td>
            <form action="/deleteuser/{{this._id}}" method="POST">
              {{#unless this.roleSuper}}
               <button class="btn btn-danger" >Delete User</button>
              {{/unless}}
              {{#if this.roleSuper}}
                <button disabled class="btn btn-danger" >Delete User</button>
              {{/if}}
            </form>
          </td>
        </tr>
      {{/if}}
    {{/each}}
  </tbody>
</table>

</div>
  <div class="col-sm-2"></div>

</div>
  {{!-- <div>====-----=====-----======-------=======</div> --}}


{{!-- <div>
  {{#each allUsers}}

  {{#if this.roleGuest}}
    <div> username: {{this.username}}</div>
    <div>role: {{this.username }}</div>
    <form method="POST" action="/updaterole/{{this._id}}" >
      <input type="radio" name="role" value="GUEST" checked>Guest <br>
      <input type="radio" name="role" value="EDITOR">Editor<br>
      <input type="radio" name="role" value="ADMIN"> Admin
      <input type="submit" class="btn btn-primary" value="Update role">
    </form>
    <hr>
  {{/if}}
  {{#if this.roleEditor}}
    <div> username: {{this.username}}</div>
    <div>role: {{this.username }}</div>
    <form method="POST" action="/updaterole/{{this._id}}">
      <input type="radio" name="role" value="GUEST" >Guest <br>
      <input type="radio" name="role" value="EDITOR" checked>Editor<br>
      <input type="radio" name="role" value="ADMIN"> Admin
      <input type="submit" class="btn btn-primary" value="Update role">
    </form>
    <hr>
  {{/if}}
  {{#if this.roleAdmin}}
    <div> username: {{this.username}}</div>
    <div>role: {{this.username }}</div>
    <form method="POST" action="/updaterole/{{this._id}}">
      <input type="radio" name="role" value="ADMIN" checked> Admin
      {{#unless this.roleSuper}}
      <input type="radio" name="role" value="GUEST" >Guest <br>
      <input type="radio" name="role" value="EDITOR" >Editor<br>
      <input type="submit" class="btn btn-primary" value="Update role">
      {{/unless}}
    </form>
    
    <hr>
  {{/if}}
      
  {{/each}}
</div> --}}